<h1>
    Contact info
    <a href="/agenda" class="btn btn-default pull-right">
        Volver
    </a>
</h1>
<div class="form-group">
    <label for="name">Name: {{contact.name}}</label>
</div>
<div class="form-group">
    <label for="email">Email address: {{contact.email}}</label>
</div>
<div class="form-group">
    <label for="tel">Phone: {{contact.phone}}</label>
</div>
<div class="form-group">
    <label for="email">Avatar</label>
    <p>
        <img src="{{contact.avatar}}" alt="" style="width:150px;height:auto;">
    </p>
</div>
